.Contact-Us
  .header
    = render "reservations/reservations-header"
    
  .confirm
    = form_for :message, url: messages_path,local: true, scope: :payment do |f|
      .block
        .title お問い合わせ
      .form-name
        .name 名前
        = f.hidden_field :name,class:'name'
        .right
          = @message.name
      .form-email
        .email メールアドレス
        = f.hidden_field :email
        .right
          = @message.email
      .form-content
        .content 内容
        = f.hidden_field :content
        .right
          = @message.content
      = f.submit '送信する',class:'btn',style: "cursor:pointer"
    = form_for :message, url: new_messages_path do |f|
      = f.hidden_field :name
      = f.hidden_field :email
      = f.hidden_field :content
      = f.submit '入力画面へ戻る',class:"back",style: "cursor:pointer"

  .footer
    = render "reservations/reservations-footer"
