.Contact-Us
  .header
    = render "reservations/reservations-header"
  .main
    = form_for [@message], url: confirm_messages_path,local: true, scope: :payment do |f|
      .block
        .title お問い合わせ
      .form-name
        .name 名前
        = f.text_field :name, placeholder: '20文字以内',class:'name-form'
      .form-email
        .email メールアドレス
        = f.text_field :email, placeholder: '30文字以内',class:'email-form'
      .form-content
        .content 内容
        = f.text_area :content, placeholder: '200文字以内', maxlength:200,class:'content-form'
      = f.submit '確認画面へ',class:'btn'
 
  .footer
    = render "reservations/reservations-footer"