\===============================
= @reservation.family_name
= @reservation.first_name
様
\===============================

※本メールは、自動的に配信しています。

このたびは、French restaurant Gargotierをご予約いただき誠にありがとうございます。
ご予約いただいた内容をお知らせします。

━━━━━━━━━━━━━ ご予約内容 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

ご来店日：#{@events.date}
ご来店時間：#{@reservation.reservation_time}
ご来店人数：#{@reservation.number_of_people}名様
代表者名：#{@reservation.family_name}#{@reservation.first_name}様
電話番号：#{@reservation.phone_number}
メールアドレス：#{@reservation.email}
ご要望事項：#{@reservation.request}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

ご来店を心からお待ちしております。

※ご不明な点がございましたら、
下記までご連絡くださいますようお願いいたします。

—————————————————————————————————————————————————————————————————————————————
French restaurant Gargotier
電話：03-1234-5678
メールアドレス：△△@△△.co.jp
住所：〒111-1111 東京都中野区0-0-0
営業時間：11時30分～22時まで
https://●●●●.co.jp/
—————————————————————————————————————————————————————————————————————————————