.event-main
  %h1 イベントのリスト

  %table
    %thead
      %tr
        %th タイトル
        %th 日付
        %th 
        %th
        %th

    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= event.date
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event) 
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

  %br
  = link_to '新規登録', new_event_path
  \|
  = link_to 'ホーム', root_path